<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacts</title>
    <style>
        *{
            font-family: Arial, Helvetica, sans-serif;
        }
    </style>
</head>
<body>
    <center>
        <h1 style="color:red">WELCOME TO CONTACT PAGE</h1>
        <marquee behavior="scroll" scrollamount="20" width="50%">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus veniam accusamus minus, obcaecati nisi beatae quas voluptate? Iste, quaerat tempora.
        </marquee>

        <h2><a href="{% url 'abouts' %}">navigate to abouts page</a></h2>
    </center>
</body>
</html>